<%- include('../parts/head',{title:'Pizzaria Fantástica - Adicionar Usuário'}); %>
<link rel="stylesheet" href="/css/form-usuario.css">
<form id="form-usuario" method="POST" action="/users">
	<label>
		Foto:
		<img src="/img/user-default.png">
		<div>Troque a imagem padrão editando o perfil</div>
	</label>

	<div class="campos">
		<label>
			Nome:
			<input type="text" name="nome" id="nome" placeholder="Digite o nome do usuário">
		</label>
	
		<label>
			E-mail:
			<input type="email" name="email" id="email" placeholder="Digite e-mail do usuário">
		</label>
	
		<label>
			Senha:
			<input type="password" name="senha" id="senha" placeholder="Digite a senha">
		</label>
	
		<label>
			Confirme a Senha:
			<input type="password" name="conf" id="conf" placeholder="Confirme a senha">
		</label>

		<% if (err) { %>
			<p><%= err %></p>
		<% } %>
		
		<button type="submit">Salvar</button>
	</div>
</form>
<%- include('../parts/foot'); %>